{% extends "base_2.html" %}

{% block title %}Booking{% endblock %}

{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}

{% block body %}
    <div class="container-sm d-flex flex-column" style="margin-top: 20px;">
        <h2 class = "d-flex justify-content-center">Booking.</h2>

        <p class = "d-flex justify-content-left">Start Date: <input type="text" id="datepicker"></p>
        <p class = "d-flex justify-content-left">End Date: <input type="text" id="datepicker"></p>
    </div>
{% endblock %}