{% extends "base_2.html" %}

{% block title %}Booking{% endblock %}

{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}

{% block body %}
    <div class="container-sm d-flex flex-column" style="margin-top: 20px;">
        <h2 class = "d-flex justify-content-center">Booking.</h2>

        <p name="zoo_start">Start Date: <input type="date" id="datepicker"></p>
        <p name="zoo_end">End Date: <input type="date" id="datepicker"></p>
        {{ form.submit(class_="btn btn-primary") }}
    </div>
{% endblock %}