{% extends "base_2.html" %}

{% block title %}Payment{% endblock %}

{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}

{% block body %}
    <div class="container-sm d-flex flex-column" style="margin-top: 20px;">
        <h2 class = "d-flex justify-content-center">Payment Page</h2>
    </div>
{% endblock %}                                                                                                                                                                                                 
